@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.tickitz-purple-button {
  width: 120px;
  background-color: #5f2eea;
}

.grey-bg {
  background-color: #f5f6f8;
}

.gray-text {
  color: #8292a6;
}

.btn {
  color: white;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
}

.card {
  border-radius: 8px;
}

.vanguard {
  box-shadow: 0px 16px 32px 0px rgba(186, 186, 186, 0.3);
  border-radius: 8px;
  height: 35rem;
}

.be-a-vanguard {
  font-size: 28px;
}

.the-moviegoers {
  font-size: 48px;
}

/* Welcoming Header */
.welcoming-header {
  height: 30rem;
}

.find-now {
  font-size: 38px;
}

#welcoming-header-large {
  height: 100%;
}

/* Movie List / Second Container */
.inline-menu li {
  list-style-type: none;
  display: inline-block;
}

.inline-menu li a:active {
  text-decoration: underline;
}
/* Kalau seandainya konten sudah mulai mengecil
@media (min-width: 767px) {
  #welcoming-header-large {
    height: auto;
  }

  #nearest {
    padding-top: 0px;
    padding-bottom: 0px;
  }
} */

.tickitz-purple-button-2 {
  width: 120px;
  background-color: #5f2eea;
  font-weight: 800;
}

.tickitz-purple-button-2-blank {
  width: 120px;
  background-color: transparent;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}

.tickitz-purple-button-3 {
  background-color: #5f2eea;
  height: 40px;
  width: 120px;
}

.vanguard-height {
  height: 53px;
}

.block-level-btn {
  width: 100%;
}

@media (min-width: 1022px) {
  .collapse {
    display: none !important;
  }

  #left-navbar {
    display: flexbox;
  }

  #left-navbar li {
    padding-left: 20px;
    padding-right: 20px;
  }

  #btn-imitation {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 120px;
    background-color: #5f2eea;
  }

  #top-navbar {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  #mobile-border {
    display: none;
  }

  .welcoming-header-smaller {
    display: none;
  }

  footer {
    padding-top: 20rem;
  }
}

@media (max-width: 1022px) {
  .welcoming-header {
    display: none;
  }

  .collapse {
    display: none !important;
  }

  #kaca {
    display: none;
  }

  #left-navbar li {
    padding: 8px 10px;
  }

  #btn-imitation {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
  }

  .welcoming-header-smaller {
    display: show;
  }
}
